#logoutSect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

input:read-only {
  background-color: #fcf3e3;
  border-style: none;
}
input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled,
textarea[type="text"]:disabled {
  background-color: #fcf3e3;
  border-style: none;
}

input.docInput[type="text"]:disabled,
input.docInput[type="number"]:disabled,
input.docInput[type="date"]:disabled {
  background-color: #c1e6f5;
  border-style: none;
}

input[type="date"] {
  content: attr(placeholder) !important;
}

.infoContainer #logoutSect h1 {
  font-size: 13px;
}

#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#buttons .btn {
  font-size: 13px;
}

.seperator {
  background-color: #ececec;
  height: 1px;
}

#profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile img {
  width: 70px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

#username {
  font-size: 25px;
  font-weight: 600;
}

.personalInfoContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  margin: auto;
}

#personalInfoHeader {
  margin: auto;
}

#personal-name {
  margin-top: 25px;
  margin-left: 10px;
}

h3,
h4 {
  font-size: 20px;
}
p {
  font-size: 15px;
}

.infoContainer {
  width: clamp(250px, 83%, 300px); /* 83% cos its col-10 */
  display: flex;
  padding: 1em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fcf3e3;
}

.infoContainer i {
  color: var(--primary-color);
}

.infoContainer h5 {
  font-size: 20px;
  font-weight: 500;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.infoContainer p {
  font-size: 15px;
}

.notification {
  position: fixed;
  top: 70px; /* Adjust based on your header height */
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 20px;
  z-index: 1000;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}

.notification.show {
  opacity: 1;
  pointer-events: auto;
}

.notification.success {
  background-color: #d4edda;
  color: #155724;
}

.notification.error {
  background-color: #f8d7da;
  color: #721c24;
}
