.service-btn {
  width: 100%;
  height: 120px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .service-btn {
    width: 30%;
    height: 150px;
    margin: 10px;
  }
}
.btn-block {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.2s;
  color: black;
}
.btn-block i {
  display: block;
  margin-bottom: 10px;
  font-size: 2rem;
}
.btn-block:hover {
  transform: scale(1.05);
}
.notification {
  position: fixed;
  top: 70px; /* Adjust based on your header height */
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 20px;
  z-index: 1000;
  transition: opacity 0.3s;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  opacity: 0;
}
