.product-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-title,
.card-text,
.price,
.dosage,
.shipping {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.price,
.dosage,
.shipping {
  color: #555;
}

.shipping-icon {
  margin-right: 5px;
}

.container {
  max-width: 1200px;
}

.btn-custom {
  height: 40px;
  width: 100%;
  background-color: #0056b3;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  margin-bottom: 20px;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card .card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.product-card .card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.product-card .price {
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card .dosage, .product-card .shipping {
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.product-card .shipping-icon {
  margin-right: 5px;
}

.product-card .btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.back-button {
  background-color: transparent;
  border: none;
  margin-top: 20px;
}

.fa-arrow-left {
  color: #1a252f;
}

.fa-arrow-left {
  margin-bottom: 20px;
  color: var(--font-color);
}

.cart-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 100; 
  transition: opacity 0.3s ease;
}

.cart-popup.hidden {
  opacity: 0; /* Hide the popup with opacity */
}