.btn-custom {
  height: 40px;
  width: 48%;
}
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.card-text strong {
  font-size: 1.5rem;
  font-weight: bold;
}
.card-text .date-time {
  font-size: 1rem;
  display: block;
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;
}
.card-text a {
  text-decoration: none;
  color: #007bff;
}
.card-text a:hover {
  text-decoration: underline;
}
.btn-primary-custom {
  background-color: #3e5060;
  border-color: #3e5060;
}
.btn-primary-custom:hover {
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.back-button {
  background-color: transparent;
  border: none;
}
.card-custom {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  height: 180px !important;
}
.card-today {
  background-color: #fcf8e3;
}
.card-upcoming {
  background-color: #f2dede;
}
.card-history {
  background-color: #f7f7f7;
}
.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.btn-custom {
  margin-right: 0.5rem;
}
.btn-custom:last-child {
  margin-right: 0;
}
.row-equal > .col-4 {
  display: flex;
  flex-direction: column;
}
.card-header-icon {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.card-header-icon i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.btn-primary-custom {
  background-color: #2c3e50;
  border-color: #2c3e50;
  color: white;
}
.btn-primary-custom:hover {
  background-color: #1a252f;
  border-color: #1a252f;
  color: white;
}
.header-section {
  margin-bottom: 1.5rem;
}
.header-section h4 {
  margin-bottom: 1rem;
}
.icon-container {
  display: flex;
  align-items: center;
}
.icon-container i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.icon-container strong {
  font-size: larger;
  font-weight: 600;
}
.btn-download {
  width: 100%;
  height: 40px;
}

.btn-download i {
  margin-right: 0.5rem;
}
.fa-arrow-left {
  color: #1a252f;
}
