:root {
  --primary-color: #ff8a00;
  --body-color: #fafafa;
  --font-color: #1c1917;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw !important;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--body-color);
  color: var(--font-color);
  width: 100vw !important;
  overflow-x: hidden;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: clamp(20px, 5vw, 40px);
  font-weight: 900;
  color: var(-primary-color);

  margin-bottom: 25px;
}

h2,
h3,
h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: clamp(16px, 2vw, 35px);
}

h3 {
  font-size: clamp(16px, 1.5vw, 32px);
}

h4,
p {
  font-size: clamp(15px, 1.3vw, 30px);
}

p {
  font-weight: 400;
}

strong {
  font-weight: 700;
}
.btn-dark-blue {
  background-color: #3e5060;
  border-color: #3e5060;
  color: white;
}
.btn-dark-blue:hover {
  background-color: #2c3e50;
  border-color: #2c3e50;
  color: white;
}
.btn-dark-blue:focus {
  background-color: #34495e !important;
  border-color: #34495e !important;
  color: white !important;
}

/* Hide the default radio button */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
  vertical-align: middle;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  cursor: pointer;
}

/* Styling the radio button when it is checked */
input[type="radio"]:checked {
  border-color: #333;
}

input[type="radio"]:checked::after {
  content: "";
  width: 8px; /* Adjusted size */
  height: 8px; /* Adjusted size */
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Focus state without glow */
input[type="radio"]:focus {
  outline: none;
}
/* Scroll Bar Beautifier */
/* Define custom scrollbar colors */
:root {
  --scrollbar-thumb-color: #888; /* Color of the scrollbar thumb */
  --scrollbar-track-color: #f0f0f0; /* Color of the scrollbar track */
}

/* Style the scrollbar */
/* WebKit */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(
    --scrollbar-thumb-color
  ); /* Color of the scrollbar thumb */
  border-radius: 5px; /* Border radius of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: var(
    --scrollbar-track-color
  ); /* Color of the scrollbar track */
}
