:root {
  --primary-color: #ff8a00;
  --body-color: #fafafa;
  --font-color: #1c1917;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw !important;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--body-color);
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  width: 100vw !important;
  overflow-x: hidden;
}

h1 {
  font-size: clamp(20px, 5vw, 40px);
  font-weight: 900;
  color: var(-primary-color);

  margin-bottom: 25px;
}

h2,
h3,
h4 {
  font-weight: 700;
}

h2 {
  font-size: clamp(16px, 2vw, 35px);
}

h3 {
  font-size: clamp(16px, 1.5vw, 32px);
}

h4,
p {
  font-size: clamp(15px, 1.3vw, 30px);
}

p {
  font-weight: 400;
}

/* Scroll Bar Beautifier */
/* Define custom scrollbar colors */
:root {
  --scrollbar-thumb-color: #888; /* Color of the scrollbar thumb */
  --scrollbar-track-color: #f0f0f0; /* Color of the scrollbar track */
}

/* Style the scrollbar */
/* WebKit */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(
    --scrollbar-thumb-color
  ); /* Color of the scrollbar thumb */
  border-radius: 5px; /* Border radius of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: var(
    --scrollbar-track-color
  ); /* Color of the scrollbar track */
}
